*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif, monospace, Arial, Helvetica;
}
header{
    display: flex;
    padding: 16px;
    font-size: 20px;
    background-color: rgb(39, 37, 37);
    position: sticky;
    top: 2px;
    text-align: center;
}
nav a{
    color: whitesmoke;
    text-decoration: none;
    padding-right: 50px;
}
#search{
    position: absolute;
    right: 10px;
    padding: 10px;
    border-radius: 15px;
}
.header{
    padding: 40px;
    margin-bottom: 10px;
    text-align: center;
    background-color: gainsboro;
}
h1{
    font-size: 180px;
    color: rgb(5, 6, 6);
    text-decoration: underline;
    text-align: center;
}
aside{
    float: left;
    width: 18%;
    background-color: gainsboro;
}
main{
    float: left;
    width: 60%;
    margin-left: 13px;
    margin-right: 13px;
    padding: 10px;
}
section{
    float: left;
    width: 20%;
    background-color: rgb(137, 189, 240);
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}
footer{
    clear: both;
    background-color: rgb(11, 11, 11);
    color: whitesmoke;
    padding: 30px;
    text-align: center;
}
li{
    text-align: left;
    padding: 10px;
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: rgb(91, 77, 77);
}
img{
    margin-bottom: 40px;
    margin-top: 20px;
}
p{
    margin-bottom: 10px;
}