*{
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.header{
    background-color: gainsboro;
    padding: 30px;
}
.nav-items{
    float: left;
    width: 20%;
    background-color: gainsboro;
    margin-top: 10px;
}
li{
    list-style: none;
    margin-top: 7px;
    border-bottom: 1px solid #f1f1f1;
}
.main-content{
    float: left;
    width: 60%;
    overflow: hidden;
    padding: 0 20px;
}
.others{
    float: left;
    width: 20%;
    background-color: lightblue;
    text-align: center;
    margin-top: 7px;
    padding: 10px 15px;
}
footer{
    clear: both;
    background-color: gainsboro;
    padding: 20px;
    text-align: center;
    margin-top: 7px;
    font-size: 12px;
}
@media (max-width: 800px){
    .main-content{
        width: 80%;
        padding: 0;
    }
    .others{
        width: 100%;
    }
}
@media (max-width: 500px){
    .nav-items, .main-content, .others{
        width: 100%;
    }
}