* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background: #f6f6f6;
    border: 1mm;
  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
    background-color: gainsboro;
  }
  
  h1 {
    position: absolute;
    top: 0;
    left: 200px;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-image: url(logo.png);
  }
  
  /* Your CSS below here */
  .bottom-image{
    position: absolute;
    bottom: 0;
  }
  .top-image{
    position: relative;
    top: 0;
    left: 100px;
    text-align: center;
  }

