html {
  scroll-behavior: smooth;
}

.brand {
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
}

.user-icon {
  color: rgb(255, 255, 255);
  border-radius: 50px;
  font-size: 2vw;
}

.small-image {
  width: 100px;
  height: auto;
}

.images {
  width: 300px;
  height: auto;
}

.logo-image {
  max-width: 5vw;
}

.carousel-image {
  width: 100%;
  height: auto;
}
