*{
    font-family: monospace;
    font-size: 20px;

}
button{
    background-color: rgb(56, 105, 7);
    color: white;
    border: none;
    font-weight: bold;
    padding-top: 12px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 12px;
    border-radius: 20px;
    margin-left: 50px;
}
button:hover{
    background-color: bisque;
}
button:active{
    background-color: blue;
}